#medicos-container {
  min-height: 100vh;
  background: #fff;
  padding-top: 2em;
}

#medicos-container div {
  background: #fff;
}

.tab-content {
    padding-top: .5em;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #3bc492;
    background-color: #f2f2f2;
}

.todosMedicos {
  margin-bottom: 1em;
  padding: 1em;
  box-sizing: border-box;
  border-bottom: 1px dotted #ddd;
}

.todosMedicos:last-child {
  border-bottom: none;
}

.todosMedicos-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.todosMedicos-2,
.todosMedicos-3 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.todosMedicos-2 p,
  .todosMedicos-2 a  {
  margin: 0;
}

.tab-content a:hover {
  text-decoration: none;
}

.medico-img {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    border: 2px solid #eee;
    max-width: 120px;
    height: auto;
}

#resultados {
    width: 100%;
}

hr {
  margin-top: -10px;
}

@media (max-width: 768px) {
  .medico-view {
    padding: 0 3em;
  }
  .medico-img {
    margin-bottom: 1em;
    text-align: left;
  }
  .medico-telefono,
    .medico-mail {
      margin-top: .5em;
    }
}
